.track {

    &__title-svg {
        width: 18px;
        height: 17px;
        fill: transparent;
        stroke: #4E4E4E;
    }

    &__time-svg {
        width: 14px;
        height: 12px;
        margin-right: 17px;
        fill: transparent;
        stroke: #696969;
    }
}